    #copyright {
        color: #a7a7a7;
        margin: 10px 0;
    }
    
    .header {
        height: auto;
        padding: 0px;
        background: #27ad15;
        background-size: 100% 100%;
        padding: 10px;
        position: relative;
        margin-top:40px;
        .user {
            height: 100px;
            text-align: center;
            .cashier-name{
                float: left;
                margin-left: 10px;
                margin-top: 20px;
                color: #fff;
            }
            .user-head {
                height: 52px;
                width: 52px;
                background: #fff;
                border-radius: 50%;
                border: 2px solid #fff;
                margin: 6px auto;
                box-sizing: border-box;
                float: left;
            }
            .user-head img {
                height: 48px;
                width: 48px;
                border-radius: 50%;
            }
            .user-info {
                height: 48px;
                width: 100%;
                float: left;
                color: #fff;
            }
            .set {
                position: absolute;
                right: 10px;
                top: 10px;
                color: #fff;
                font-size: .9rem
            }
            .user-info .user-name {
                height: 20px;
                width: auto;
                font-size: 0.857rem;
                line-height: 20px;
                .b-tixian{
                    margin-top: 8px;
                    width: 70px;
                    margin: 0 auto;
                    padding: 5px;
                    border: 1px solid #ffffff;
                    border-radius: 3px;
                    color:#fff;
                }
            }
            .user-info .user-other {
                height: 20px;
                width: auto;
                font-size: 0.643em;
                line-height: 20px;
                opacity: 0.8;
            }
        }
        .user-gold {
            height: 35px;
            width: 94%;
            padding: 5px 3%;
            border-bottom: 1px solid #f5f3f3;
            background: #fff;
            font-size: 0.8rem;
            line-height: 35px;
        }
        .user-gold .title {
            height: 35px;
            width: auto;
            float: left;
            color: #666;
        }
        .user-gold .num {
            height: 35px;
            width: auto;
            float: left;
            color: #f90;
        }
        .user-gold .draw {
            width: 80px;
            height: 30px;
            background: #6c9;
            float: right;
        }
        .user-op {
            height: 35px;
            width: 94%;
            padding: 5px 3%;
            border-bottom: 1px solid #f5f3f3;
            background: #fff;
            font-size: 0.8rem;
            line-height: 35px;
        }
    }
    
    .money-center {
        background: #fff;
        border-bottom: 1px solid #f5f3f3;
        margin-top: 10px;
        overflow: hidden;
    }
    
    #userinfo {
        background: #FFF;
        ul {
//          display: flex;

            li a {
                color: #8c8c8c;
                text-align: center;
                display: block;
            }
            li a span {
                color: #222;
                font-size: .9rem
            }
            li {
               
                box-sizing: border-box;                
                flex: 1;
                width: 33%;
                float: left;
                width: 50%;
                margin: 10px 0;
                box-sizing: border-box;
                border: 0
            }
            li:last-child {
                border: 0
            }
            li a {
                color: #8c8c8c;
                text-align: center;
                display: block;
            }
            li a span {
                color: #222;
                font-size: 1.1rem;
                margin-bottom: 5px;
                display: inline-block;
            }
            li a {
                color: #8C8C8C;
                font-size: .8rem
            }
            li:after{
                content: "";
                display: block;
                clear: both;
            }
        }
        ul:after{
                content: "";
                display: block;
                clear: both;
            }
    }
    
    #orderlist {
        background: #FFF;
        margin: 10px 0;
    }
    
    .ordertltie {
        text-align: left;
        text-indent: 15px;
        width: 100%;
        height: 2.286rem;
        border-bottom: 1px solid #f5f3f3;
        box-sizing: border-box;
        i {
            line-height: 2.286rem;
            color: #999;
            font-size: 20px;
            float: right;
            padding-right: 15px;
        }
        a .ordername {
            float: left;
            line-height: 2.286rem;
            font-size: 0.857rem;
            color: #333;
        }
    }
    
    .order_pub {
        width: 25%;
        position: relative;
        box-sizing: border-box;
    }
    
    #orderlist .puball {
        color: #000000;
        border-left: 1px solid #8F9295;
    }
    
    .badge {
        position: absolute;
        left: 50%;
        top: -5px;
        background-color: #ff4949;
        border-radius: 10px;
        color: #fff;
        line-height: 14px;
        font-size: 12px;
        padding: 0 5px;
    }
    
    #tool {
        background: #FFF;
        overflow: hidden;
        h3 {
            color: #333;
            margin: 0;
            padding-left: 15px;
            text-align: left;
            border-bottom: 1px solid #f5f3f3;
            font-size: .857rem;
            font-weight: normal;
            box-sizing: border-box;
            line-height: 2.286rem;
            height: 2.286rem;
        }
        li img {
            width: 28%;
            margin-bottom: 5px;
        }
        ul li {
            position: relative;
            float: left;
            width: 25%;
            box-sizing: border-box;
            text-align: center;
            padding: 15px 0;
            font-size: 0.8rem;
            height: 25vw;
        }
        ul li a {
            color: #8c8c8c;
        }
        ul li i {
            width: 36px;
            height: 36px;
            border-radius: 10px;
            color: #fff;
            line-height: 36px;
            font-size: 20px;
            margin-bottom: 4px
        }
    }
    .listStat {
        height: 44px;
        width: 97%;
        background: #fff;
        padding: 0 0 0 3%;
        border-top: 1px solid #e6e1e1;
        font-size: .9rem;
        line-height: 44px;
        color: #333;
        text-align: left;
    }
    .list1 {
        height: 44px;
        width: 97%;
        background: #fff;
        padding: 0 0 0 3%;
        border-top: 1px solid #e6e1e1;
        font-size: .9rem;
        line-height: 44px;
        color: #333;
        text-align: left;
    }

    .statRight{
        float: right;
        line-height: 44px;
        display: inline-block;
        font-size: 14.4px;
        font-size: 0.9rem;
        padding-right: 13px;
        color: #e57b3b;
        width: 120px;
        /* height: 20px; */
        text-align: right;
        background-size: 20px;
    }
    
    .list1 i.fa.fa-angle-right {
        float: right;
        line-height: 44px;
        display: inline-block;
        font-size: 0.9rem;
        margin-right: 6px;
        color: #929292;
        width: 20px;
        height: 20px;
        text-align: center;
        background-size: 20px;
    }
    
    .list1 .ico {
        display: inline-block;
        margin-right: 10px;
        color: #929292;
        width: 20px;
        height: 20px;
        text-align: center;
        background-size: 20px;
        float: left;
        margin-top: 12px;
    }
    
    .list1 .marketing {
        background-image: url(../../assets/images/marketing.png);
    }
    
    .list1 .extension {
        background-image: url(../../assets/images/extension.png);
    }
    
    .list1 .newsetting {
        background-image: url(../../assets/images/newsetting.png);
    }
    
    .allorder {
        float: right;
        color: #909090;
        margin-right: 10px;
        text-decoration: none;
        font-size: .8rem
    }
    
    .order {
        width: 100%;
        background: #fff;
        margin-top: 10px;
        border-bottom: 1px solid #f5f3f3;
    }
    
    .order_all {
        width: 100%;
        padding: 14px 0px;
        color: #666;
        overflow: hidden;
    }
    
    .order_all a i {
        font-size: 20px;
        margin-bottom: 4px;
        width: 20px;
        height: 20px;
        background-size: 20px;
    }
    
    .order_all a .money {
        background-image: url(../../assets/images/money.png);
    }
    
    .order_all a .box {
        background-image: url(../../assets/images/box.png);
    }
    
    .order_all a .car {
        background-image: url(../../assets/images/car.png);
    }
    
    .order_all a .refun {
        background-image: url(../../assets/images/refun.png);
    }
    
    .order_pub {
        height: 38px;
        float: left;
        border-left: 1px solid #eee;
        padding-top: 2px;
        text-align: center;
        color: #8c8c8c;
        position: relative;
        font-size: .8rem
    }
    
    .order_pub span {
        height: 14px;
        background: #f30;
        border-radius: 8px;
        position: absolute;
        top: 0;
        right: 6%;
        padding: 0 5px;
        font-size: .8rem;
        color: #fff;
        line-height: 14px;
    }
    
    .cart {
        height: auto;
        width: 100%;
        background: #fff;
        margin-top: 10px;
        border-bottom: 1px solid #f5f3f3;
    }
    
    .new-ullist {
        border-top: 1px solid #f5f3f3;
        overflow: hidden;
        padding: 14px 0;
    }
    
    .new-ullist ul li {
        position: relative;
        float: left;
        width: 25%;
        box-sizing: border-box;
        text-align: center;
        padding: 10px 0;
        font-size: 0.8rem;
    }
    
    .new-ullist ul li a {
        color: #8c8c8c;
    }
    
    .new-ullist ul li i {
        width: 36px;
        height: 36px;
        border-radius: 10px;
        color: #fff;
        line-height: 36px;
        font-size: 20px;
        margin-bottom: 4px
    }
    
    .set a {
        color: #FFF;
        font-size: 20px;
    }
    
    #ewm {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background: rgba(140, 140, 140, 0.72);
        z-index: 9;
        display: none;
        padding-top: 5%;
        .pic {
            width: 70%;
            margin: auto;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            .title {
                padding: 10px;
                border-bottom: 1px solid #ddd;
                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    display: inline-block;
                    vertical-align: middle;
                }
                span {
                    margin-left: 15px;
                    vertical-align: middle;
                    font-size: 1rem;
                }
            }
            .ewm {
                img {
                    width: 50%;
                    display: block;
                    float: right;
                }
            }
        }
        img {
            width: 100%;
            display: block;
        }
    }