/*
* @Author: Marte
* @Date:   2017-04-25 09:56:56
* @Last Modified by:   Marte
* @Last Modified time: 2017-04-27 15:39:56
*/
p{margin:0; padding:0;}
    #income{
        font-family: "PingFang SC-Regular";
        .top-warpper{
            height:160px;
            background:#f15353;
          
            color:#fff;
            .warpper-t{
                padding:10px;
                .brand{
                    width:40px;
                    height:40px;
                    border-radius:50%;
                    background:#fff;
                    float:left;
                }
                .detail{
                    font-size:13px;
                    color:#fff;
                    width:100px;
                    height:40px;
                    float:right;
                    line-height:40px;
                    margin:0;
                    padding:0;
                    font-weight:bold;
                    span{
                        width:7px;
                        height:13px;
                        display:inline-block;
                    }
                }
            }
            .warpper-t:after{
                display:table;
                content:'';
                clear:both;
            }
            .warpper-b{
                .eyes{
                    width:25px;
                    height:24px;
                    width:33%;
                    float:left;
                    img{
                        float:right;
                        margin:20px 30px 0 0;
                    }
                }
                .ex-income{
                    float:left;
                    width:33%;
                    margin:12px 0 0 0;
                    .num{
                        font-size:30px;
                        font-weight:bold;
                        font-family:"impact";
                        span{
                            font-size:13px;
                            font-weight:normal;
                        }
                    }
                }
                .cash{
                    width:33%;
                    float:left;
                    span{
                        width:48px;
                        height:24px;
                        display:block;
                        line-height:24px;
                        text-align:center;
                        border-radius:5px;
                        border:1px solid #fff;
                        font-weight:bold;
                        margin:20px 0 0 30px;
                    }
                }
            }
        }
        .content-warpper{
            background:#eee;
            .warpper{
                height:140px;
                margin:10px;
                background:#fff;
                .line{
                    width:5px;
                    height:140px;
                    background:#f15353;
                    border-top-left-radius:3px;
                    border-bottom-left-radius:3px;
                    float:left;
                }
                .content-top{
                    padding:10px 10px;
                    overflow:hidden;
                    h2{
                        color:#333;
                        font-size:14px;
                        float:left;
                    }
                    .click{
                        width:57px;
                        height:18px;
                        display:inline-block;
                        border:1px solid #f15353;
                        color:#f15353;
                        font-size:11px;
                        line-height:18px;
                        text-align:center;
                        border-radius:5px;
                        float:right;
                    }
                    .click:after{
                        display:table;
                        content:'';
                        cleat:both;
                    }
                }
                .content-bot{
                    margin-top:20px;
                    .description{
                        width:50%;
                        float:left;
                        p{
                            text-align:left;
                            padding-left:10px;
                        }
                        p:first-child{
                            font-size:11px;
                            color:#999;
                        }
                        p:last-child{
                            font-size:13px;
                            color:#f15353;
                            span{
                                font-size:30px;
                                font-weight:bold;
                            }
                        }
                    }
                    .settle{
                        width:40%;
                        float:left;
                        border-left:1px solid #aaa;
                        p{
                            text-align:left;
                            font-size:15px;
                            color:3333;
                            line-height:24px;
                            span{
                                font-size:30px;
                                color:#4c4c4c;
                                display:inline-block;
                                width:30px;
                                height:24px;
                                vertical-align:middle;
                                margin-top:-4px;
                            }
                            b{
                                font-size:9px;
                                font-weight:normal;
                            }
                        }
                    }
                }
            }
            .permissions{
                background:#fff;
                overflow:hidden;
                margin-bottom:70px;
                .title{
                    font-size:14px;
                    color:#f25857;
                    text-align:center;
                    line-height:50px;
                    border-bottom:1px solid #ccc;
                }
                .list{
                    height:100px;
                    margin-top:10px;
                    ul{
                        overflow:hidden;
                        li{
                            width:25%;
                            float:left;
                            text-align:center;
                        i{
                            display:block;
                            width:44px;
                            height:44px;
                            margin:0 auto;
                        }
                        span{
                            font-size:11px;
                            color:#333;
                            line-height:15px;
                        }
                    }
                    }

                }
            }
        }
        .modal{
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background:rgba(0,0,0,.7);
            .modal-dialog{
                width:300px;
                height:190px;
                background:#fff;
                border-radius:6px;
                border-top:10px solid #f15353;
                margin:50% auto;
                position:relative;
                .close{
                    position:absolute;
                    top:-50px;
                    right:0;
                }
                .title{
                    color:#666;
                    font-size:14px;
                    font-weight:bold;
                    line-height:35px;
                    text-align:left;
                    padding-left:25px;
                    padding-top:10px;
                }
                .form-group{
                    text-align:left;
                    padding-left:30px;
                    line-height:30px;
                    .radio{
                        display:inline-block;
                        width:18px;
                        height:18px;
                        img{
                            color:#20b86a;
                            margin-bottom:8px;
                            vertical-align:bottom;
                        }
                    }
                    span{
                        color:#333;
                        font-size:16px;
                    }
                    .accomplish{
                        border:1px solid #f15353;
                        display:inline-block;
                        width:37px;
                        height:18px;
                        border-radius:4px;
                        line-height:18px;
                        text-align: center;
                        color:#f15353;
                        font-style:normal;
                    }
                }
                .apply_btn{
                    width:250px;
                    height:34px;
                    border-radius:6px;
                    background-color:#f15353;
                    text-align:center;
                    line-height:34px;
                    color:#fff;
                    border:0;
                    outline:0;
                    font-size:14px;
                    font-weight: bold;
                    margin-top:20px;
                }
            }
        }
    }